body {
    /*background: #e9e9e9;*/
    background: #e9e9e9;
    font-family: "Roboto", sans-serif;
    text-align: center;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.nav {
    position: absolute;
    display: inline-block;
    background: #FFFFFF;
    border-radius: 3px;
    border-top: 2px solid #0070b4;
    left: 50%;
    transform: translate(-50%);
    height: 60px;
    z-index: 1000;
    /*box-shadow: 0 0 10px rgba(20, 90, 161, 0.5); !* Параметры тени *!*/
}

.nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.nav ul li {
    position: relative;
    display: inline-block;
    height: 60px;
    border-left: 1px solid rgba(0, 0, 0, 0.05);
    vertical-align: middle;
    float: left;
}

.nav ul li:first-child,
.nav ul li:nth-child(2),
.nav ul li:last-child {
    /*border-left: 0;*/
}

.nav ul li:nth-child(2) a:before,
.nav ul li:nth-last-child(2) a:before,
.nav ul li:nth-child(2) a:after,
.nav ul li:nth-last-child(2) a:after {
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.nav ul li:nth-child(2) > a:before {
    z-index: 1;
    position: absolute;
    top: 0;
    left: -15px;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-right: 15px solid #FFFFFF;
    border-top: 60px solid transparent;
}

.nav ul li:nth-last-child(2) a:after {
    position: absolute;
    z-index: 1;
    top: 0;
    right: -15px;
    content: "";
    width: 0;
    height: 0;
    display: block;
    border-left: 15px solid #FFFFFF;
    border-bottom: 60px solid transparent;
}

.nav ul li:last-child a {
    background: #0070b4;
    padding: 0 25px 0 30px;
    color: #FFFFFF;
}

.nav ul li:last-child a:hover {
    background: #07cadf;
}

.nav ul li a {
    word-break: break-all;
    white-space: normal;
    position: relative;
    display: block;
    padding: 0 25px;
    color: #666666;
    font-size: 14px;
    line-height: 60px;
    text-decoration: none;
    -webkit-transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
    transition: all 0.3s linear 0s;
}

.nav ul li a:hover {
    background: #f2f2f2;
}

.nav ul li a:hover:before {
    border-right: 15px solid #f2f2f2;
}

.nav ul li a:hover:after {
    border-left: 15px solid #f2f2f2;
}

.nav ul li a.logo {
    background: #0070b4;
    width: 30px;
    height: 30px;
    padding: 15px 30px 15px 15px;
    line-height: 1;
    vertical-align: middle;
}

.nav ul li a.logo:hover {
    background: #07cadf;
}

.nav ul li a.logo img {
    width: 100%;
}

.nav ul li a i {
    margin: 0 0 0 6px;
}

.nav ul li .menu {
    display: none;
    position: absolute;
    background: #FFFFFF;
    top: 100%;
    width: 180px;
    border-top: 1px solid rgba(0, 0, 0, 0.05);
    border-bottom: 3px solid #0070b4;
    border-radius: 0 0 3px 3px;
    overflow: hidden;
    /*    todo fix overflow*/
}

.nav ul li .menu li {
    display: block;
    width: 100%;
    height: 45px;
    margin: 0;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.nav ul li .menu li:nth-child(2),
.nav ul li .menu li:nth-last-child(2) {
    height: 45px;
}

.nav ul li .menu li:nth-child(2) a:before,
.nav ul li .menu li:nth-last-child(2) a:before,
.nav ul li .menu li:nth-child(2) a:after,
.nav ul li .menu li:nth-last-child(2) a:after {
    content: "";
    display: none;
}

.nav ul li .menu li a {
    background: #FFFFFF;
    padding: 0 15px 0 30px;
    color: #666666;
    line-height: 45px;
    text-align: left;
}

.nav ul li .menu li a:hover {
    background: #f2f2f2;
}

.info {
    width: 300px;
    margin: 50px auto;
    text-align: center;
}

.info h1 {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 400;
    color: #333333;
}

.info span {
    color: #666666;
    font-size: 12px;
}

.info span a {
    color: #000000;
    text-decoration: none;
}

.info span .fa {
    color: #0070b4;
}

.info span .spoilers {
    color: #999999;
    margin-top: 5px;
    font-size: 10px;
}

/*body {*/
/*    background: #54c8c1;*/
.script-params {
    position: relative;
    top: 70px;
    float: left; /* Обтекание справа */
    /*border: 1px solid #333; !* Параметры рамки вокруг *!*/
    width: 300px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
    float: left;


}

.script-params input, label, select, ul, button {+
    /* todo styles!*/
    /*margin: 10px; !* Отступы вокруг элемента *!*/
    /*padding: 3px; !* Поля вокруг текста *!*/
    /*float: left;*/
}

.field {
    clear: both;
    text-align: left;
}

#navMenu {
    position: absolute;
    background: #DDD;
    padding: 10px;
    left: -100%;
    z-index: 1000;
}

#navMenu.visible {
    left: 0;
}

#navMenu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#navMenu li {
    margin: 0;
    padding: 0;
}

/*}*/
.script-content {
    /*position: fixed;*/
    /*left: 20px;*/
    /*right: 20px;*/
    /*top: 20px;*/
    width: 75%;
    /*overflow-x: auto;*/
    height: auto;
    /*height: 160px;*/
    padding: 10px;
    background: #d7d7d7;
    position: fixed;
    top: 100px;
    bottom: 35px;
    margin-left: 350px;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5); /* Параметры тени */
    /*transform: translate(-50%, -50%);*/

}

.script-content p {
    width: 98%;
    color: rgb(14, 11, 11);
    font-family: Monospace;
    margin: 10px 0px 0px 10px;
    text-align: left;
}

.blank_message {
    padding: 10px 20px;
    background: #e9e9e9;
    position: fixed;
    top: 30%;
    margin: auto;
    width: 100%;
    /*transform: translate(-50%, -50%);*/

}

.blank_message img {
    position: relative;
    top: 70px;
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
}

.blank_message p {
    color: rgb(255, 255, 255);
    font-family: Monospace;
    margin: 10px 0px 0px 10px;
    text-align: center;
}

.footer {
    color: #959595;
    font-size: 12px;
    position: absolute;
    right: 10px;
    top: 97%;
}